
body, html {
    margin: 0;
    font: 16px "lato", sans-serif;
    color:#777;
    height: 100%;


}
h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    color: white;
    
}
.content__two {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}
h3 {
    text-transform: uppercase;
    text-align:center;
}

.content__one {
    background-image: url(imgs/imagem6.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
.content__three {
    background-image: url(imgs/imagem2.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content__three p {
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    color: white;
}